<div class = "contain">
    <input type = "text" placeholder = "Offer name" class = "form-control search"> &nbsp;
    <button class = "btn btn-success">Add new offer</button><br><br>

    <ul class = "list-group">
        <li class = "list-group-item">
            <b>Offer title</b>
            <span class= "controls">
                <button class = "btn btn-primary">See more</button> &nbsp;
                <button class = "btn btn-warning">Modify</button> &nbsp;
                <button class = "btn btn-danger">Delete record</button> &nbsp;
            </span>
        </li>
    </ul>
</div>

<button class = "btn btn-dark logout" (click) = "logout()">Log out</button>