.search{
    width: 500px;
    display: inline;
}

.contain{
    position: relative;
    width: fit-content;
    left: 25%;
    top: 20vh;
    background: white;
    padding: 10px;
    box-shadow: 5px 5px 10px grey; 
    border-radius: 15px;
}

.controls{
    margin-left: 250px;
}

.logout{
    position: absolute;
    left: 92%;
    top: 10px;
}

.confirm {
    box-shadow: 5px 5px 10px rgb(112, 111, 111); 
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 37vw;
    bottom: 50vh;
}

.confirmation{
    margin-left: 35%;
}

.exit{
    margin-left: 97%;
    cursor: pointer;
    padding: 5px;
    transition: background 1s, color 1s;
}

.exit:hover{
    background: rgb(240, 69, 69);
    color: white;
}

.blur{
    filter: blur(2px);
    pointer-events: none;
}